.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TopContainer {
  margin: 5%;
  padding: 50px;
  background-color: #10bfff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;

  position: relative;
  top: 0;

  background-color: thistle;
}
