.Container {
  font-size: 30px;
  letter-spacing: 10%;
  color: black;
}

.Container > .Char {
  transform: translateY(-15px);
  display: inline-block;
  /* using ease-in-out as animation-timing-function makes it jitter */
  animation: wave 2s ease-in-out infinite backwards;
}

@keyframes wave {
  /*0% {transform: translateY(0);}*/
  /*25% {transform: translateY(-15px);}
  75% {transform: translateY(15px);}*/
  50% {transform: translateY(15px);}
}
